<div *ngIf="deviceId">
    <h3>Alarms component! DeviceID: {{deviceId}}</h3>
</div>
<div *ngIf="alarms">
    <div>
        <div>
            <ul class="alarms">
              <li *ngFor="let alarm of alarms"
                [class.selected]="alarm === selectedAlarm"
                (click)="onSelect(alarm)">
                <span class="text">{{alarm.created_at | date: 'HH:mm dd.MM.yyyy'}}</span>
              </li>

            </ul>
            <div *ngIf="selectedAlarm">
                <span class="text">
                    Alarm description: {{selectedAlarm.description}}
                </span>
            </div>
        </div>
        <div *ngIf="deviceId" >
            <alarm-form [setDeviceId]="deviceId"></alarm-form>
        </div>
    </div>
</div>

<div *ngIf="!alarms && deviceId">
    <h2>
        Loading....
        No alarms yet
    </h2>
</div>
<div *ngIf="!alarms && !deviceId">
    <h2>
        No device given!
    </h2>
</div>
