<h3>Smart Alarm - Dashboard</h3>
<div class="container-fluid">
    <div class="col-sm-4">
        <devices (onDeviceSelected)="onDeviceSelected($event)"></devices>
    </div>
    <div class="col-sm-8">
        <div class="row">
            <div class="container">
                <div class="col-md-6 button">
                    <div [class.selected]="selectedTab === 'alarms'" (click)="onSelect('alarms')">Alarms</div>
                </div>
                <div class="col-md-6 button">
                    <div [class.selected]="selectedTab === 'stats'" (click)="onSelect('stats')">Statisctics</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 *ngIf="!selectedDevice"> Select device first!</h3>
                <div *ngIf="selectedTab === 'alarms'" class="col-md-12"><alarms [deviceId]="getSelectedDeviceId()"></alarms></div>
                <div *ngIf="selectedTab === 'stats'" class="col-md-12"><statistics [deviceId]="getSelectedDeviceId()"></statistics></div>
            </div>
        </div>
    </div>
</div>
