<div *ngIf="deviceId">
    <h3>Statistics component! DeviceID: {{deviceId}}</h3>
</div>
<div *ngIf="types">
    <ul class="types">
        <li *ngFor="let type of types"
        (click)="onSelectType(type)">
            <span class="badge">Type:</span>{{type | uppercase}}
        </li>
    </ul>
</div>
<div *ngIf="statistics">
    <chart [statsData]="getChartTable()" [statsType]="selectedType"></chart>
</div>
<div *ngIf="!statistics && !deviceId">
    <h2>
        No device given!
    </h2>
</div>
<div *ngIf="(!statistics && deviceId) && !selectedType">
    <h2>
        Select statistic type!
    </h2>
</div>
<div *ngIf="(!statistics && deviceId) && selectedType">
    <h2>
        Loading....
        No statistics yet
    </h2>
</div>
